<style>.gray-text {
    color: gray;
}

header {
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia;
}

body {
    background-color: #F07B2F
}

title {
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia;
}

h1 {
    text-align: center;
    font-family: Georgia;
    text-transform: capitalize;
    color: white;
    background-color: #761DED;
    padding: 30px;
    border-radius: 15%;
}

/* border-style: solid;
    border-width: 8px;
    text-align: left;
    padding: 10px; */
}

p {
    text-align: center;
    font-family: Lobster;
    font-size: large;
}

p2 {
    text-align: center;
    font-family: Lobster;
}

.boxed {
    border: 10px dotted #761DED;
    background-color: #A8D3F2 width: auto;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}

footer {
    text-align: center;
    font-family: Lobster;
    color: purple;
    padding: 25px;
}

img {
    max-width: 100px;
    width: 100%;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*
.bullets {
    display: flex;
    flex-wrap: wrap;
}
*/
.bigpizza {
    display: flex;
    position: relative;
    flex-basis: 10%;
    text-align: left;
    padding: 20px;
    height: auto;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.bigpie {
    display: flex;
    position: relative;
    flex-basis: 50%;
    text-align: left;
    padding: 20px;
    height: auto;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.img_holder {
    padding: 20px;
    margin-top: 20px;
}

.container {
    display: flex;
    text-align: left;
    position: relative;
    flex-basis: 50%;
    font-size: 1.3em;
    padding: 20px;
    width: 50%;
    font-family: Lobster;
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-size: 1em;
}
</style>
